body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px;
}

header h1 {
    margin: 10px 0;
}

header h2 {
    margin: 5px 0;
    font-size: 1.2em;
}

.right-panel {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#crear-historia {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#login {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h3 {
    margin-top: 0;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.ver-mas { 
    background-color: #4caf50; 
    color: white; 
     border: none; 
     padding: 10px 20px;  
     text-align: center;  
     text-decoration: none; 
     display: inline-block; 
     font-size: 16px; 
     margin: 4px 2px; 
     cursor: pointer; 
     border-radius: 5px; 
     transition: background-color 0.3s ease;
    } 
.ver-mas:hover { 
    background-color: #45a049; 
}